<div class="flex items-center justify-between w-full p-2">
  <search-filter placeholder="Search Employee" [handleChange]="onSearchChange"></search-filter>
  <button class="primary_button" type="button" (click)="handleModal()">
    Add New Employee
  </button>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<app-table *ngIf="!isLoading" [onDelete]="onDeleteEmployee" [onEdit]="onEditClick" [columns]="columns"
  [data]="employees" title="Employees"></app-table>

<app-pagination (pageChange)="onPageChange($event)" [offset]="params.getValue().pageNum"
  [limit]="params.getValue().pageSize" [size]="totalEmployees" [range]="3"></app-pagination>

<app-modal *ngIf="isModalOpen.getValue()">
  <h2 class="mb-4 text-xl font-bold text-primary-400">{{editMode ? 'Update Employee' : 'New Employee'}}</h2>
  <div class="w-full max-w-md mx-auto mt-8">
    <form [formGroup]="employeeForm" (ngSubmit)="editMode ? onSaveEmployee() :onSubmit()" class="rounded">
      <div class="flex gap-1 mb-4">
        <div>
          <label class="input_label" for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form_input" placeholder="First Name" />

          <small class="text-red-500" *ngIf="employeeForm.controls['firstName'].touched &&
                    employeeForm.controls['firstName'].errors?.['required']
                  ">This field is required</small>
          <small class="text-red-500"
            *ngIf="(employeeForm.controls['firstName'].errors?.['minlength'] || employeeForm.controls['firstName'].errors?.['maxlength'])">Enter
            first name within 3 to 15 characters</small>
        </div>

        <div>
          <label class="input_label" for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form_input" placeholder="Last Name" />
          <small class="text-red-500" *ngIf="employeeForm.controls['lastName'].touched &&
                    employeeForm.controls['lastName'].errors?.['required']
                  ">This field is required</small>
          <small class="text-red-500"
            *ngIf="(employeeForm.controls['lastName'].errors?.['minlength'] || employeeForm.controls['lastName'].errors?.['maxlength'])">Enter
            last name within 3 to 15 characters</small>
        </div>

      </div>

      <div class="flex gap-1 mb-4">

        <div>
          <label class="input_label" for="username">Username</label>
          <input type="text" id="username" formControlName="username" class="form_input" placeholder="Username" />
          <small class="text-red-500" *ngIf="employeeForm.controls['username'].touched &&
                    employeeForm.controls['username'].errors?.['required']
                  ">This field is required</small>
          <small class="text-red-500"
            *ngIf="(employeeForm.controls['username'].errors?.['minlength'] || employeeForm.controls['username'].errors?.['maxlength'])">Enter
            username name within 3 to 30 characters</small>
        </div>

        <div>
          <label class="input_label" for="email">Email</label>
          <input type="email" id="email" formControlName="email" class="form_input" placeholder="Email" />
          <small class="text-red-500" *ngIf="employeeForm.controls['email'].touched &&
                    employeeForm.controls['email'].errors?.['required']
                  ">
            This field is required</small>
          <small class="text-red-500" *ngIf="employeeForm.controls['email'].errors?.['email']">Enter Valid email</small>
          <small class="text-red-500" *ngIf="employeeForm.controls['email'].errors?.['pattern']">Enter valid
            email.</small>
        </div>
      </div>


      <div *ngIf="!editMode" class="mb-4">
        <label class="input_label" for="password">Passowrd</label>
        <input type="password" id="password" formControlName="password" class="form_input" placeholder="Password" />
        <small class="text-red-500" *ngIf="employeeForm.controls['password'].touched &&
                  employeeForm.controls['password'].errors?.['required']
                ">This field is required</small>
        <small class="text-red-500" *ngIf="employeeForm.controls['password'].errors?.['pattern']">Password must contain
          minimum eight characters, at least one letter and one number</small>
      </div>

      <div class="mb-4">
        <label class="input_label" for="designation">Designation</label>
        <select id="designation" formControlName="designation" class="bg-white form_input">
          <option disabled value="Select Designation">Select Designation</option>
          <option *ngFor="let item of designations" [ngValue]="item.id">
            {{ item.name }}
          </option>
        </select>
        <small class="text-red-500" *ngIf="employeeForm.controls['designation'].touched &&
                  employeeForm.controls['designation'].errors?.['required']
                ">This field is required</small>
      </div>

      <div class="mb-4">
        <label class="input_label" for="role">Role</label>
        <select type="text" id="role" formControlName="role" class="bg-white form_input">
          <option value="Select Role" class="text-gray-400 text-sx">
            Select Role
          </option>
          <option *ngFor="let item of roles; let i = index" [ngValue]="item.id">
            {{ item.name }}
          </option>
        </select>
        <small class="text-red-500" *ngIf="employeeForm.controls['role'].touched &&
                  employeeForm.controls['role'].errors?.['required']
                ">This field is required</small>

      </div>

      <div class="mb-4">
        <label class="input_label" for="department">Department</label>
        <select type="text" id="department" formControlName="department" class="bg-white form_input">
          <option value="Select Department" class="text-gray-400 text-sx">
            Select Department
          </option>
          <option *ngFor="let item of departments; let i = index" [ngValue]="item.id">
            {{ item.name }}
          </option>
        </select>
        <small class="text-red-500" *ngIf="employeeForm.controls['department'].touched &&
                  employeeForm.controls['department'].errors?.['required']
                ">This field is required</small>
      </div>

      <div class="flex items-center justify-between">
        <button [disabled]="employeeForm.invalid" type="submit" class="primary_button">
          {{editMode ? 'Save' : 'Submit'}}
        </button>
        <button (click)="handleModal()" class="secondary_button" type="button">
          Cancel
        </button>
      </div>
    </form>
  </div>
</app-modal>