<div class="flex items-center justify-center h-full">
    <div class="px-4 lg:w-4/12 sm:w-full md:w-full">
        <div
            class="relative flex flex-col w-full min-w-0 mb-6 break-words bg-white border-0 rounded-lg shadow-lg dark:bg-darkSecondary">
            <div class="px-6 py-6 mb-0 rounded-t">
                <div class="mb-3 text-center">
                    <h6 class="text-sm font-bold text-blueGray-500 dark:text-white">
                        Reset Password
                    </h6>
                </div>
                <hr class="mt-6 border-b-1 border-blueGray-300" />
            </div>
            <div class="flex-auto px-4 py-10 pt-0 lg:px-10">
                <form [formGroup]="resetFrom" (ngSubmit)="onSubmit()">
                    <div class="relative w-full mb-3">
                        <label class="input_label" for="new-password">New Password</label>
                        <input type="password" class="form_input" placeholder="New Password" name="new-password"
                            formControlName="new-password" />
                        <small class="text-red-500" *ngIf="
                      resetFrom.controls['new-password'].touched &&
                      resetFrom.controls['new-password'].errors?.['required']
                    ">This field is required</small>
                        <small class="text-red-500"
                            *ngIf="resetFrom.controls['new-password'].errors?.['pattern']">Password
                            must contain minimum eight characters, at
                            least one letter, one number and one special character. </small>
                    </div>

                    <div class="relative w-full mb-3">
                        <label class="input_label" for="confirm-new-password">
                            confirm-new-password
                        </label>
                        <input type="password" class="form_input" placeholder="confirm-new-password"
                            name="confirm-new-password" formControlName="confirm-new-password" />

                        <small class="text-red-500" *ngIf="
                      resetFrom.controls['confirm-new-password'].touched &&
                      resetFrom.controls['confirm-new-password'].errors?.['required']
                    ">This field is required</small>

                        <small class="text-red-500"
                            *ngIf="resetFrom.controls['confirm-new-password'].errors?.['pattern']">Password
                            must contain minimum eight characters, at
                            least one letter, one number and one special character. </small>
                        <small class="text-red-500"
                            *ngIf="resetFrom.controls['confirm-new-password'].errors?.['passwordMatch'] && !resetFrom.controls['confirm-new-password'].errors?.['required'] && !resetFrom.controls['confirm-new-password'].errors?.['pattern']">Password
                            not
                            match</small>
                    </div>

                    <div class="mt-6 text-center">
                        <button [disabled]="resetFrom.invalid" class="primary_button" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>