<div class="flex flex-col items-center justify-center h-full">
    <h1 class="mb-5 text-[30px] dark:text-darkTextPrimary">Change Password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-y-2  w-[350px]">
        <div>
            <input name="currentPassword" formControlName="currentPassword" placeholder="Current Password"
                type="password" class="form_input">
            <small class="text-red-500" *ngIf="
                                  changePasswordForm.controls['currentPassword'].touched &&
                                  changePasswordForm.controls['currentPassword'].errors?.['required']
                                ">This field is required</small>
            <small class="text-red-500"
                *ngIf="changePasswordForm.controls['currentPassword'].errors?.['pattern']">Password
                must contain minimum eight characters, at
                least one letter, one number and one special character. </small>
        </div>

        <div>
            <input name="newPassword" formControlName="newPassword" placeholder="New Password" type="password" class="form_input">
            <small class="text-red-500" *ngIf="
                                      changePasswordForm.controls['newPassword'].touched &&
                                      changePasswordForm.controls['newPassword'].errors?.['required']
                                    ">This field is required</small>
            <small class="text-red-500" *ngIf="changePasswordForm.controls['newPassword'].errors?.['pattern']">Password
                must contain minimum eight characters, at
                least one letter, one number and one special character. </small>
        </div>
        <div>
            <input name="confirmNewPassword" formControlName="confirmNewPassword" placeholder="Confirm Password" type="password" class="form_input">
            <small class="text-red-500" *ngIf="
                          changePasswordForm.controls['confirmNewPassword'].touched &&
                          changePasswordForm.controls['confirmNewPassword'].errors?.['required']
                        ">This field is required</small>

            <small class="text-red-500"
                *ngIf="changePasswordForm.controls['confirmNewPassword'].errors?.['pattern']">Password
                must contain minimum eight characters, at
                least one letter, one number and one special character. </small>
            <small class="text-red-500"
                *ngIf="changePasswordForm.errors?.['passwordMatch'] && !changePasswordForm.controls['confirmNewPassword'].errors?.['required'] && !changePasswordForm.controls['confirmNewPassword'].errors?.['pattern']">Password
                not
                match</small>
        </div>

        <button [disabled]="changePasswordForm.invalid" type="submit" class="primary_button">Sumbit</button>
    </form>
</div>