<div class="relative bg-black h-auto w-full">
  <div class="h-24 md:h-36 image flex justify-center w-full items-center">
    <img
      class="h-16 w-16 md:h-28 md:w-28"
      src="{{ profileData.avtaar }}"
      alt=""
    />
  </div>
  <div
    class="lg:w-[600px] mx-auto flex flex-wrap justify-between text-center px-10 pb-2 lg:px-0 lg:justify-around text-white items-center"
  >
    <p
      class="text-[0.65rem] w-full sm:w-auto text-center md:flex-initial md:text-[1rem] lg:px-0 px-4"
    >
      {{ profileData.firstName }} {{ profileData.lastName }}
    </p>
    <p
      class="text-[0.65rem] w-full sm:w-auto text-center md:flex-initial md:text-[1rem] lg:px-0 px-4"
    >
      {{ profileData.designation || "NA" }}
    </p>
    <p
      class="text-[0.65rem] w-full sm:w-auto text-center md:flex-initial md:text-[1rem] lg:px-0 px-4"
    >
      {{ profileData.email || "NA" }}
    </p>
    <p
      class="text-[0.65rem] w-full sm:w-auto text-center md:flex-initial md:text-[1rem] lg:px-0 px-4"
    >
      {{ profileData.department || "NA" }}
    </p>
  </div>
</div>
